@import "tailwindcss";

@tailwind utilities;

@layer base {
    :root {
        --background: 255 255 255;
        --foreground: 17 24 39;
    }

    html.dark {
        --background: 17 24 39;
        --foreground: 243 244 246;
    }

    body {
        background-color: rgb(var(--background));
        color: rgb(var(--foreground));
    }
}
