@import "tailwindcss";

@tailwind utilities;

@layer base {
    :root {
        --background: 254 254 254;
        --foreground: 30 30 30;
    }

    html.dark {
        --background: 30 30 30;
        --foreground: 254 254 254;
    }

    body {
        background-color: rgb(var(--background));
        color: rgb(var(--foreground));
        font-family: Nunito, sans-serif;
    }
}
